body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: #8d8d8dff;
}

h1 {
    text-align: center;
    color: #000000ff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background 0.3s;
}

li:hover {
    background: #e6f7ff;
}

a {
    text-decoration: none;
    color: #007c13ff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}